/HolaMundo/target/
/LeerConsola/nbproject/private/
/LeerConsola/build/
/Variables/nbproject/private/
/Variables/build/
/TiendaLibros/nbproject/private/
/TiendaLibros/build/
/Clases/nbproject/private/
/Clases/build/
/Clases/dist/
/RegistroCivil/nbproject/private/
/RegistroCivil/build/
/RegistroCivil/dist/
/Caja/nbproject/private/
/Caja/dist/
/Caja/build/
