/HolaMundo/target/
/LeerConsola/nbproject/private/
/LeerConsola/build/
/Variables/nbproject/private/
/Variables/build/
/TiendaLibros/nbproject/private/
/TiendaLibros/build/
/Clases/nbproject/private/
/Clases/build/
/Clases/dist/
/RegistroCivil/nbproject/private/
/RegistroCivil/build/
/RegistroCivil/dist/
/Caja/nbproject/private/
/Caja/dist/
/Caja/build/
/Encapsulamiento1/nbproject/private/
/Encapsulamiento/nbproject/private/
/Herencia/nbproject/private/
/Herencia1/nbproject/private/
/Herencia2/nbproject/private/
/Arreglos/nbproject/private/
/Herencia/build/
/Arreglos/build/
/Arreglos2/nbproject/private/
/Arreglos2/build/
/Arreglos2/dist/
